{% extends 'main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <br>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-2">
      		<h1 class="h3 mb-0 text-gray-800">Data Pengaduan</h1>
      		<button type="button" data-toggle="modal" data-target="#pelayananModal" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i class="fas fa-plus"></i> Tambah Pengaduan</button>
      	</div>
            <div class="row">
              <div class="col">
                <br>
            <!-- <form method="GET" action="{% url 'filterpelayanan' %}">
              {{pelayananfilter.as_p}}
              <button class="btn btn-primary" type="submit">Filter</button>
            </form> -->
              <div class="row">
                <div class="col-md">
                  <div class="card card-body">
                    <table class="table table-striped table-bordered" id="tablepelayanan">
                      <thead>
                        <tr class="bg-info text-center">
                          <th class="bg-info" data-colname="tglpengaduan" data-order="desc">Tgl Pengaduan</th>
                          <th data-colname="client" data-order="desc">Klien</th>
                          <th data-colname="masalah" data-order="desc">Problem</th>
                          <th data-colname="kategori" data-order="desc">Status Penanganan</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for pengaduan in pengaduan %}
                        <tr class="text-center">
                          <td>{{pengaduan.date_created|date:'d F Y, H:i e'}}</td>
                          <td>{{pengaduan.client}}</td>
                          <td>{{pengaduan.keluhan}}</td>
                          <td>{{pengaduan.kategori_penanganan}}</td>
                          <td>
                          <!-- <button id="btneditstatus" type="button" data-toggle="modal" data-target="#statusModal" data-id="{{pengaduan.id}}" data-kategori_penanganan="{{pengaduan.kategori_penanganan}}" class="btn btn-info btn-sm mr-2"><i class="fas fa-truck"></i></button> -->
                          <form action="{% url 'deletepelayanan' pengaduan.id %}" method="post">
                          <a class="btn btn-sm btn-success" href="{% url 'editstatus' pengaduan.id %}"><i class="fa fa-pencil-alt"></i></a>
                          <a class="btn btn-sm btn-info" href="{% url 'detailpelayanan' pengaduan.id %}"><i class="fa fa-folder"></i></a>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Yakin ingin menghapus keluhan {{pengaduan.keluhan}} dari pengaduan?')"><i class="fa fa-trash"></i></button>
                          </form>
                         
                          </td>
                          <!-- <form action="{% url 'deletepelayanan' pengaduan.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Hapus</button>
                          </form> -->
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="pelayananModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        	  <div class="modal-dialog" role="document">
        	    <div class="modal-content">
        	      <div class="modal-header">
        	        <h5 class="modal-title" id="exampleModalLabel">Tambah Pelayanan</h5>
        	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	          <span aria-hidden="true">&times;</span>
        	        </button>
        	      </div>
                <div class="modal-body">
                  <form action="" method="post">
        	        	{% csrf_token %}
          			  <div class="form-group">
          			    <label for="exampleInputEmail1">Nama Klien</label>
                    {{form.client}}
          			  </div>
                  <div class="form-group">
          			    <label for="exampleInputPassword1">Kategori Pengaduan</label>
                    {{form.kategori_pengaduan}}
          			  </div>
                  <div class="form-group">
          			    <label for="exampleInputPassword1" class="col-md-5 col-form-label">Keluhan</label>
                    {{form.keluhan}}
          			  </div>
                  <div class="form-group">
          			    <label for="exampleInputPassword1">Status Penanganan</label>
                    {{form.kategori_penanganan}}
          			  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                  <button type="submit" id="btnSave" class="btn btn-success">Tambah Pengaduan</button>
                </div>
                </form>
              </div>
            </div>
          </div>

          <!-- <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        	  <div class="modal-dialog" role="document">
        	    <div class="modal-content">
        	      <div class="modal-header">
        	        <h5 class="modal-title" id="exampleModalLabel">Edit Status Penanganan</h5>
        	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	          <span aria-hidden="true">&times;</span>
        	        </button>
        	      </div>
        	      <div class="modal-body">
        	        <form action="{% url 'updatestatus' %}" method="post">
        	        	{% csrf_token %}
                    {{formup.pk.as_hidden}}
        			  <div class="form-group">
        			    <label for="exampleInputEmail1">Status Penanganan</label>
                  {{formup.kategori_penanganan}}
        			  </div>
        	      </div>
        	      <div class="modal-footer">
        	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        	        <button type="submit" class="btn btn-primary">Simpan</button>
        	      </div>
        	      </form>
        	    </div>
        	  </div>
        	</div> -->

        </div>
      </section>
    </div>

<script type="text/javascript">
  $('#statusModal').on('show.bs.modal', function (event){
    console.log('modalopened');
    var button = $(event.relatedTarget);
    var id = button.data('id');
    var kategori_penanganan = button.data('kategori_penanganan');

    var modal = $(this);
    modal.find('#id_kategori_penanganan').val(kategori_penanganan);
    modal.find('#id_pk').val(id);
  })
</script>

<script>
	$(document).ready(function(){
		$('select').select2({
			width: '100%'
		});
	});
</script>

<script>
/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
//We start indexing at one because CSRF_token is considered and input field
 */

//Query All input fields
var text_fields = document.getElementsByTagName('textarea')
text_fields[0].placeholder='';


for (var field in text_fields){
  text_fields[field].className += ' form-control'
}
for (var field in input_fields){
  input_fields[field].className += ' form-control'
}
</script>

<script type="text/javascript">
  document.getElementById('button').addEventListener('click', function(){
    document.querySelector('.bg-modal').style.display = 'flex';
  });

  document.querySelector('.close').addEventListener('click', function(){
    document.querySelector('.bg-modal').style.display = 'none';
  });
</script>

<script type="text/javascript">
    $(document).ready( function () {
      $('#tablepelayanan').DataTable({
        "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
      });
    });
  var select_fields = document.getElementsByTagName('select')

  var input_fields = document.getElementsByTagName('input')


  for (var field in select_fields){
    select_fields[field].className += ' form-control'
  }
  for (var field in input_fields){
    input_fields[field].className += ' form-control'
  }
</script>
{% endblock %}
