{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">
  <br>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="card-body">
          <br>
            <div class="row">
              <div class="col-md">
                <div class="card card-body">
                  <table class="table table-sm">
                    <tr>
                      <th>Tgl Pengaduan</th>
                      <th>Masalah</th>
                      <th>Kategori Penanganan</th>
                    </tr>

                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>

                  </table>
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>

      </section>
      </div>
{% endblock %}
